.User-dp-container {
  width: 35px;
  height: 35px;
  border: 3px dotted #fff;
  border-radius: 50%;
  margin-top: 20%;
  margin-bottom: 20%;
  transition: 0.5s ease;
  visibility: hidden;
}
.User:hover .User-dp-container {
  width: 125px;
  height: 125px;
}
.User-login {
  width: 90%;
  border-bottom: 3px solid #0000000a;
  padding-bottom: 5%;
}
.User-login::before {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  top: 25%;
  content: attr(data-state);
  position: absolute;
}
.User-login form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-field {
  width: 80%;
  height: 2.5em;
  border: none;
  outline: none;
  margin-top: 0.25em;
  margin-bottom: 1em;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
}
.input-button {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 2em;
  border: none;
  margin: 1em;
}
.User-message {
  color: #ff5e5eda;
}
.has-error {
  border: 2px solid #ff5e5ea4;
}
