.App {
  display: flex;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}
.Main-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(96% - 12px);
  min-height: 100vh;
}
